# 1. 基于索引数字选择

In [1]:
import pandas as pd

df = pd.read_csv("./Data/los_census.csv")
print(df.head())

   Zip Code  Total Population  Median Age  Total Males  Total Females  \
0     91371                 1        73.5            0              1
1     90001             57110        26.6        28468          28642
2     90002             51223        25.5        24876          26347
3     90003             66266        26.3        32631          33635
4     90004             62180        34.8        31302          30878

   Total Households  Average Household Size
0                 1                    1.00
1             12971                    4.40
2             11731                    4.36
3             15642                    4.22
4             22547                    2.73

In [3]:
print(df.iloc[:3])

   Zip Code  Total Population  Median Age  Total Males  Total Females  \
0     91371                 1        73.5            0              1
1     90001             57110        26.6        28468          28642
2     90002             51223        25.5        24876          26347

   Total Households  Average Household Size
0                 1                    1.00
1             12971                    4.40
2             11731                    4.36

In [4]:
print(df.iloc[5])

Zip Code                  90005.0
Total Population          37681.0
Median Age                   33.9
Total Males               19299.0
Total Females             18382.0
Total Households          15044.0
Average Household Size        2.5
Name: 5, dtype: float64

In [7]:
print(df.iloc[[1,3,5]])

   Zip Code  Total Population  Median Age  Total Males  Total Females  \
1     90001             57110        26.6        28468          28642
3     90003             66266        26.3        32631          33635
5     90005             37681        33.9        19299          18382

   Total Households  Average Household Size
1             12971                    4.40
3             15642                    4.22
5             15044                    2.50

In [8]:
print(df.iloc[:, 1:4])

     Total Population  Median Age  Total Males
0                   1        73.5            0
1               57110        26.6        28468
2               51223        25.5        24876
3               66266        26.3        32631
4               62180        34.8        31302
5               37681        33.9        19299
6               59185        32.4        30254
7               40920        24.0        20915
8               32327        39.7        14477
9                3800        37.8         1874
10             103892        26.2        52794
11              31103        36.3        19493
12              11772        44.6         7629
13               7005        44.8         4471
14              18986        31.3         9833
15              47596        33.9        22778
16              23768        29.4        12818
17              49310        33.2        23770
18              64458        35.8        31442
19              38967        34.6        19381
20               3951        44.3         2790
21              67179        29.8        33216
22              45903        28.4        23037
23              47452        23.6        22248
24              42147        34.7        20859
25              67869        34.0        34515
26              45151        38.3        22362
27              28714        34.0        16056
28              38617        34.6        19575
29              39316        33.5        19546
..                ...         ...          ...
289             30854        35.3        14950
290             52735        39.1        24833
291             30322        39.6        14486
292             32725        25.6        16857
293             16763        37.9         8565
294              6220        41.8         3136
295              4894        44.1         2522
296             35533        38.7        17338
297              3613        38.6         1757
298             51767        36.0        25643
299              2031        29.3         1052
300             54366        39.0        26592
301              5077        44.0         2585
302              1699        40.9          884
303              4176        38.4         3301
304              7993        45.2         4086
305              3074        27.0         1531
306              2932        41.7         1642
307             39341        31.1        18601
308             72046        28.3        34879
309             70918        34.4        37804
310             13033        32.9         6695
311              1259        52.4          689
312             74929        27.5        36414
313             50798        37.0        25056
314             38158        28.4        18711
315              2138        43.3         1121
316             18910        32.4         9491
317               388        44.5          263
318              7285        30.9         3653

[319 rows x 3 columns]

# 2. 基于标签名称选择

In [9]:
import numpy as np

df = pd.DataFrame(np.random.randn(6,5), index=list('abcdef'), columns=list('ABCDE'))
print(df)

          A         B         C         D         E
a  1.838270  0.385339 -0.401902 -0.115573 -2.058883
b  0.175414 -1.724850  0.688623  2.711814  2.372524
c  1.015289  0.935709 -0.576686 -1.014896  0.136664
d  0.094907  0.178066 -2.558176  1.540890  0.297352
e  0.446176  0.086807 -0.974286 -0.272760 -0.518934
f -1.428622 -0.184745 -0.393220  0.030583 -0.155489

In [10]:
print(df.loc['a': 'c'])

          A         B         C         D         E
a  1.838270  0.385339 -0.401902 -0.115573 -2.058883
b  0.175414 -1.724850  0.688623  2.711814  2.372524
c  1.015289  0.935709 -0.576686 -1.014896  0.136664

In [11]:
print(df.loc[['a', 'c', 'd']])

          A         B         C         D         E
a  1.838270  0.385339 -0.401902 -0.115573 -2.058883
c  1.015289  0.935709 -0.576686 -1.014896  0.136664
d  0.094907  0.178066 -2.558176  1.540890  0.297352

In [12]:
print(df.loc[:, 'B':'D'])

          B         C         D
a  0.385339 -0.401902 -0.115573
b -1.724850  0.688623  2.711814
c  0.935709 -0.576686 -1.014896
d  0.178066 -2.558176  1.540890
e  0.086807 -0.974286 -0.272760
f -0.184745 -0.393220  0.030583

In [13]:
print(df.loc[['a','c'], 'C':])

          C         D         E
a -0.401902 -0.115573 -2.058883
c -0.576686 -1.014896  0.136664

# 3. 数据随机取样

In [14]:
s = pd.Series([0,1,2,3,4,5,6,7,8,9])
print(s.sample)

<bound method NDFrame.sample of 0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64>

In [15]:
print(s.sample(n=5))

8    8
2    2
1    1
4    4
6    6
dtype: int64

In [18]:
df = pd.DataFrame(np.random.randn(6,5), index=list('abcdef'), columns=list('ABCDE'))
print(df)
print(df.sample(n=3))

          A         B         C         D         E
a  0.122706  0.422882 -0.020708  0.891455  0.990192
b -0.764925  0.591366  1.232752 -0.690437 -1.255064
c  0.129781 -0.994705 -0.937010 -1.698496 -1.460023
d  0.774633 -1.207048 -0.540629  0.555650  0.428175
e -0.920062 -0.362032 -1.015909  1.977575 -0.049685
f  0.230551  0.289129  1.383222  0.094763 -0.717089
          A         B         C         D         E
d  0.774633 -1.207048 -0.540629  0.555650  0.428175
e -0.920062 -0.362032 -1.015909  1.977575 -0.049685
b -0.764925  0.591366  1.232752 -0.690437 -1.255064

In [19]:
df.sample(n=3, axis=1)

          B         A         E
a  0.422882  0.122706  0.990192
b  0.591366 -0.764925 -1.255064
c -0.994705  0.129781 -1.460023
d -1.207048  0.774633  0.428175
e -0.362032 -0.920062 -0.049685
f  0.289129  0.230551 -0.717089

# 4. 条件语句选择

In [23]:
s = pd.Series(range(-5,5))

print(s)
print(s[(s<-2) | (s>1)])

0   -5
1   -4
2   -3
3   -2
4   -1
5    0
6    1
7    2
8    3
9    4
dtype: int32
0   -5
1   -4
2   -3
7    2
8    3
9    4
dtype: int32

In [24]:
df = pd.DataFrame(np.random.randn(6,5), index=list('abcdef'), columns=list('ABCDE'))

print(df)
print(df[(df['B']>0) | (df['D']<0)])

          A         B         C         D         E
a -0.283564  1.636418 -0.162738  0.600555  0.848387
b  0.623261 -1.524652  0.821911  0.832867  1.209299
c  1.264347  0.031818  1.571742  0.151507  0.662160
d -0.706777 -1.085443  0.259947 -0.313016 -0.546516
e  0.597907 -0.968233  0.329765 -0.640404 -1.724966
f -0.330724 -1.169758 -0.076407  0.559709 -0.059953
          A         B         C         D         E
a -0.283564  1.636418 -0.162738  0.600555  0.848387
c  1.264347  0.031818  1.571742  0.151507  0.662160
d -0.706777 -1.085443  0.259947 -0.313016 -0.546516
e  0.597907 -0.968233  0.329765 -0.640404 -1.724966

# 5. where()方法选择

In [25]:
df = pd.DataFrame(np.random.randn(6,5), index=list('abcdef'), columns=list('ABCDE'))

print(df)
print(df.where(df<0))

          A         B         C         D         E
a  0.897194 -1.034974  1.381591 -1.666606  0.157706
b  0.422981  0.084428 -0.364508 -0.526168  0.258289
c  0.190367 -0.597527  0.530349 -0.738422 -0.134158
d  0.724641 -1.209862 -1.026021  1.092180  0.220388
e -1.252805 -0.714086  1.296685  1.079495  1.169679
f  0.533784 -1.606023 -1.105988  0.828149  0.083698
          A         B         C         D         E
a       NaN -1.034974       NaN -1.666606       NaN
b       NaN       NaN -0.364508 -0.526168       NaN
c       NaN -0.597527       NaN -0.738422 -0.134158
d       NaN -1.209862 -1.026021       NaN       NaN
e -1.252805 -0.714086       NaN       NaN       NaN
f       NaN -1.606023 -1.105988       NaN       NaN

In [26]:
print(df.where(df<0,-df))

          A         B         C         D         E
a -0.897194 -1.034974 -1.381591 -1.666606 -0.157706
b -0.422981 -0.084428 -0.364508 -0.526168 -0.258289
c -0.190367 -0.597527 -0.530349 -0.738422 -0.134158
d -0.724641 -1.209862 -1.026021 -1.092180 -0.220388
e -1.252805 -0.714086 -1.296685 -1.079495 -1.169679
f -0.533784 -1.606023 -1.105988 -0.828149 -0.083698

# 6. query()方法选择

In [27]:
df = pd.DataFrame(np.random.rand(10, 5), columns=list('abcde'))

print(df)
print(df.query('(a<b) & (b<c)'))

          a         b         c         d         e
0  0.945267  0.946270  0.581801  0.483969  0.380303
1  0.675806  0.784422  0.885817  0.016656  0.699426
2  0.645698  0.090497  0.805377  0.817151  0.307370
3  0.250201  0.268565  0.451902  0.847266  0.652337
4  0.983571  0.149383  0.888640  0.380552  0.251519
5  0.282951  0.710372  0.032414  0.924529  0.759053
6  0.323002  0.744584  0.184943  0.183904  0.333059
7  0.807909  0.681218  0.180467  0.220701  0.223391
8  0.487440  0.670031  0.911512  0.264378  0.391351
9  0.460939  0.109443  0.225209  0.660848  0.731955
          a         b         c         d         e
1  0.675806  0.784422  0.885817  0.016656  0.699426
3  0.250201  0.268565  0.451902  0.847266  0.652337
8  0.487440  0.670031  0.911512  0.264378  0.391351

In [28]:
print(df[(df.a < df.b) & (df.b < df.c)])

          a         b         c         d         e
1  0.675806  0.784422  0.885817  0.016656  0.699426
3  0.250201  0.268565  0.451902  0.847266  0.652337
8  0.487440  0.670031  0.911512  0.264378  0.391351