# 1. 一维数据 Series

## 1.1 Dictionary -> Series

In [3]:
import pandas as pd

d = {'a': 10, 'b': 20, 'c': 30}
print(d)

{'a': 10, 'b': 20, 'c': 30}

In [4]:
s = pd.Series(d, index=['b', 'c', 'd', 'a'])
print(s)

b    20.0
c    30.0
d     NaN
a    10.0
dtype: float64

## 1.2 ndarray -> Series

In [8]:
import numpy as np

data = np.random.randn(5)    # 一维随机数
index = ['a', 'b', 'c', 'd', 'e']    # 指定索引

s = pd.Series(data, index)
print(s)

a    1.004548
b   -0.942894
c    1.309514
d   -0.465479
e   -0.249478
dtype: float64

In [9]:
s['a']

1.0045477278601351

In [10]:
# 默认数字索引
s = pd.Series(data)
print(s)

0    1.004548
1   -0.942894
2    1.309514
3   -0.465479
4   -0.249478
dtype: float64

In [11]:
s[4]

-0.24947815726638908

In [12]:
2*s

0    2.009095
1   -1.885787
2    2.619029
3   -0.930958
4   -0.498956
dtype: float64

In [13]:
s - s

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
dtype: float64

# 2. 二维数据 DataFrame

## 2.1 Series dictionary -> DataFrame

In [14]:
# 带Series的字典
d = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']), 'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

## 2.2 ndarrays/lists dictionary -> DataFrame

In [15]:
d = {'one': [1,2,3,4], 'two': [4,3,2,1]}

df1 = pd.DataFrame(d)    # 未制定索引
df2 = pd.DataFrame(d, index=['a','b','c','d'])    # 指定索引

print(df1)
print(df2)

   one  two
0    1    4
1    2    3
2    3    2
3    4    1
   one  two
a    1    4
b    2    3
c    3    2
d    4    1

## 2.3 Dictionary list -> DataFrame

In [17]:
# 带字典的列表
d = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c':20}]

df = pd.DataFrame(d)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

## 2.4 DataFrame.from method

In [23]:
d = [('A', [1,2,3]), ('B', [4,5,6])]
c = ['one', 'two', 'three']

df = pd.DataFrame.from_items(d, orient='index', columns=c)
print(df)

   one  two  three
A    1    2      3
B    4    5      6

## 2.5 Columns select, add, delete

In [24]:
print(df['one'])

A    1
B    4
Name: one, dtype: int64

In [25]:
df.pop('one')
print(df)

   two  three
A    2      3
B    5      6

In [28]:
df.insert(2, 'four', [10,20])
print(df)

   two  three  four
A    2      3    10
B    5      6    20

# 3. 三维数据 Panel

## 3.1 Panel data

- 截面数据
- 时间序列数据
- 面板数据

## 3.2 Panel structrue

In [30]:
wp = pd.Panel(np.random.randn(2,5,4), items=['Item1', 'Item2'], major_axis=pd.date_range('1/1/2000', periods=5), minor_axis=['A','B','C','D'])
print(wp)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 5 (major_axis) x 4 (minor_axis)
Items axis: Item1 to Item2
Major_axis axis: 2000-01-01 00:00:00 to 2000-01-05 00:00:00
Minor_axis axis: A to D

In [31]:
print(wp['Item1'])

                   A         B         C         D
2000-01-01  0.923158 -0.609682  1.091119  1.092425
2000-01-02 -0.573000  0.268221 -1.293220  0.031911
2000-01-03 -0.944049  1.399705  0.509092 -1.182908
2000-01-04 -0.439635  1.305095  1.195450  1.061560
2000-01-05 -0.951563 -1.412453 -1.429351  0.424138

In [32]:
print(wp['Item2'])

                   A         B         C         D
2000-01-01  0.654025  1.055582  0.589341  1.562844
2000-01-02  1.456508  1.410843 -0.134336 -1.648385
2000-01-03  0.621560 -0.298609  1.644435  1.967582
2000-01-04  0.019126 -1.635470 -0.800856 -1.650250
2000-01-05  0.070228 -0.516803  0.106117  1.617293

In [33]:
print(wp.to_frame())

                     Item1     Item2
major      minor
2000-01-01 A      0.923158  0.654025
           B     -0.609682  1.055582
           C      1.091119  0.589341
           D      1.092425  1.562844
2000-01-02 A     -0.573000  1.456508
           B      0.268221  1.410843
           C     -1.293220 -0.134336
           D      0.031911 -1.648385
2000-01-03 A     -0.944049  0.621560
           B      1.399705 -0.298609
           C      0.509092  1.644435
           D     -1.182908  1.967582
2000-01-04 A     -0.439635  0.019126
           B      1.305095 -1.635470
           C      1.195450 -0.800856
           D      1.061560 -1.650250
2000-01-05 A     -0.951563  0.070228
           B     -1.412453 -0.516803
           C     -1.429351  0.106117
           D      0.424138  1.617293